#act{
    color: white;
    font-size: 6vw;
    text-align: center;
    margin-top: 15%;
}
.Activities{
    width: 90%;
    margin: auto;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 65% 35%;
}
.Activities img{
    width: 80%;
    border: 5px solid #01c38d;
}
.Activities h3{
    font-size: 3vw;
    text-align: center;
    color: white;
}
.Activities p{
    font-size: 2vw;
    text-align: center;
    color: #01c38d;
}
.Activities button{
    width: 10%;
}
#addButton{
    width: 15%;
    margin-top: 20%;
    margin-left: 43%;
    font-size: 1.5vw;
    border-radius: 10%;
    padding: 1%;
    border: 1px solid #01c38d;
    background-color: #191e29;
    color: white;
}
#addButton:hover{
    background-color: #01c38d;
    color: white;
    transition: 2s;
}
#addButton:active{
    background-color: #191e29;
    color: #01c38d;
    transition: 0.5s;
    transform: scale(0.80);
}
.deleteandadd{
    width: 50%;
    margin: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.deleteandadd div{
    text-align: center;
}
.deleteandadd button{
    width: 30%;
    padding: 1%;
    font-size: 1.5vw ;
    border: 2px solid #01c38d;
    color: white;
    background-color: #191e29;
}
.deleteandadd button:hover{
    background-color: white;
    color: #191e29;
    transition: 1.5s;
}
.deleteandadd button:active{
    transform: scale(0.90);
    transition: 1s;
}

